body,
html {
    height: 100%;
}

#mapContainer {
    margin-top: 2%;
    height: 100%;
}

#mainDiv {
    padding: 2% 10%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: #7f7fd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#controlPanel {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2% 7% 0;
}

#map {
    height: 100%;
    width: 100%;
}

.inputContainer {
    margin: 2% 0;
}

#coordButton {
    margin: 2%;
}

.info {
    text-align: center;
    padding: 2%;
}
